/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald&display=swap');
/* fonts end */

body {
    font-family: lato, sans-serif;
    font-weight: 400;
    color: #262738;
}

/* header */
header {
    background-color: rgb(72, 38, 131);
    height: 100px;
    position: fixed;
    width: 100%;
    color: rgb(185, 134, 31);
    margin-top: -8px;
    margin-left: -8px;
    z-index: 10;
}

#head {
    font-weight: 400;
    font-size: xxx-large;
    font-family: Oswald, sans-serif;
    padding-left: 10px;
    text-align: left;
    float: left;
    letter-spacing: 3px;
    color: #b9861f;
    line-height: 70px;
}

#navigation {
    float: right;
    text-align: left;
    color: rgb(185, 134, 31);
    padding-right: 30px;
    word-spacing: 20px;
    letter-spacing: 3px;
    list-style-type: none;
}

#navigation a {
    color: inherit;
    font-weight: 600;
    text-decoration: none;
}

.current_page {
    border-bottom: 3px solid rgb(38, 39, 56);
}
/* header end */
/* footer */
#footer {
    margin-top: 1092px;
    background-color: #482683;
    margin-left: -8px;
    position: absolute;
    padding-left: 10px;
    height: 100px;
    width: 100%;
}
/* footer */
/* histor page section */
#history_section_1 {
    background-color: black;
    margin-top: 92px;
    margin-left: -8px;
    position: absolute;
    padding-left: 10px;
    height: 500px;
    width: 100%;
}
#history_section_2 {
    background-color: white;
    margin-top: 592px;
    margin-left: -8px;
    position: absolute;
    padding-left: 10px;
    height: 500px;
    width: 100%;
}
/* history page section end */
/* company page section */
#company_section_1 {
    background-color: black;
    margin-top: 92px;
    margin-left: -8px;
    position: absolute;
    padding-left: 10px;
    height: 500px;
    width: 100%;
}
#company_section_2 {
    background-color: white;
    margin-top: 592px;
    margin-left: -8px;
    position: absolute;
    padding-left: 10px;
    height: 500px;
    width: 100%;
}
/* company page section end */